.Home
{
	position: relative;
	width:100%;
	height:100vh;
	background-image:url('https://img1.goodfon.ru/original/7016x3800/a/31/gory-oblaka-lyudi-ryukzaki.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}